<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/spaceman-4-16-296414.png' %}"/>


    <title>Product Hunt</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href={% static "vendor/bootstrap/css/bootstrap.min.css"%} rel="stylesheet">
    <link href="{% static 'open-iconic-master/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='{% static "vendor/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href={% static "vendor/simple-line-icons/css/simple-line-icons.css" %} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={% static "css/stylish-portfolio.min.css" %} rel="stylesheet">

</head>

<body id="page-top">
<!-- Navigation -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand ml-auto font-weight-bold " href="{% url 'home' %}">
                <img src="{% static 'img/logo.png' %}" height="30" width="30" class="d-inline-block
                align-top">
                Product Hunt
            </a>
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link  h4" href="{% url 'create' %}"><span class="oi
                            oi-plus"></span></a>
                            <a class="nav-item nav-link  h4" href="javascript: {document.getElementById('logout')
                            .submit()}">Logout</a>
                            <form id="logout" method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <input type="hidden">
                            </form>
                        {% else %}
                            <a class="nav-item nav-link  h4" href="{% url 'signup' %}">Sign Up</a>
                            <a class="nav-item nav-link h4" href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
    </nav>
</header>


<!-- Header -->
<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/shadotekk/">
                    <i class="icon-social-facebook"></i>
                </a>
            </li>

            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white" href="https://github.com/viper0302">
                    <i class="icon-social-github"></i>
                </a>
            </li>
        </ul>
        <p class="text-muted small mb-0">Have a nice  {% now "Y" %}</p>
    </div>
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src={% static "vendor/jquery/jquery.min.js" %}></script>
<script src={% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>

<!-- Plugin JavaScript -->
<script src={% static "vendor/jquery-easing/jquery.easing.min.js" %}></script>

<!-- Custom scripts for this template -->
<script src={% static "js/stylish-portfolio.min.js"  %}></script>

</body>

</html>
