<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
    {% block content %}
        <div class="row pt-3">
            <div class="col-2">
                <img class="img-fluid" src="{{ product.icon.url }}">
            </div>
            <div class="col-10">
                <a href="{{ product.url }}"><h1>{{ product.title }}</h1></a>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-8">
                <img class="img-fluid" src="{{ product.image.url }}">
            </div>
            <div class="col-4">
                <a href="javascript:{document.getElementById('upvote').submit()}"><button class="btn btn-primary btn-lg
                btn-block">
                    <span class="oi oi-caret-top" title="caret top" aria-hidden="true"></span> Upvote
                    {{ product.votes_total }}</button></a>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-4">
                <h4><span class="oi oi-person"></span> Hunted by {{ product.hunter.username }}</h4>
            </div>
            <div class="col-4 text-right">
                <h4> <span class="oi oi-clock"></span> {{ product.pub_date_pretty}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <p> {{ product.body }}</p>
            </div>
        </div>
        <form id="upvote" method="post" action="{% url 'upvote' product.id %}">{% csrf_token %}
            <input type="hidden">
        </form>

    {% endblock %}

    </body>
</html>